<!DOCTYPE html >
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>From Info Windows to a Database: Saving User-Added Form Data</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map" height="460px" width="460px"></div>
    <input type='button' value='Save' onclick='saveData()'/>
    <div id="message">Location saved</div>
    <script>
      var map;
      var marker;

      function initMap() {
        var california = {lat: 37.4419, lng: -122.1419};
        map = new google.maps.Map(document.getElementById('map'), {
          center: california,
          zoom: 13
        });

        google.maps.event.addListener(map, 'click', function(event) {
            if (!marker || !marker.setPosition) {
                marker = new google.maps.Marker({
                  position: event.latLng,
                  map: map,
                });
            } else {
                marker.setPosition(event.latLng);
            }
        });
      }

      function saveData() {
          if (!marker){
              alert("no marker");
              return;
          }

          var room_name = "dummy";
          var latlng = marker.getPosition();
          var lng = latlng.lng();
          var lat = latlng.lat();

          $.post("/add-marker", {"room_name": room_name, "lng": lng, "lat": lat})
              .done(function(data) {
                  alert("saved!");
          });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6zJT9fu29Wj6T67uRxfnQvc9kyP4wz3Y&callback=initMap">
    </script>
   <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
  </body>
</html>