<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../../static/hot_spot_music_share/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/hot_spot_music_share/css/room.css">

    <title>Room</title>


  </head>

  <body>

  	<!-- This part should be in navbar.html which extends this -->
  	<nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
 <!--          <li class="nav-item active">
            <a class="nav-link" href="#">Rome <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="discover_rooms.html">Explore</a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Room</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Profile Setting</a>
              <a class="dropdown-item" href="#">Room Setting</a>
              <a class="dropdown-item" href="login.html">Exit Room</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Room No.</button>
        </form>
      </div>
    </nav>  	
    <!-- The above part should be in navbar.html which extends this -->
    <div class="container">
	  <div class="row">
	    <div class="col">
	     	<audio src='Kiss_the_Sky.mp3' controls preload='auto'></audio>
			<div class="my-3 p-3 bg-light text-dark  rounded box-shadow" id="dj_list">
				
				<div class="media pt-3" id = "song_0">
        			<img src="../../static/hot_spot_music_share/img/hearts.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Kiss the Sky</strong>
			              <span class="d-block">by unknown</span>
			            </div>
			        </div>
			    </div>

			    <div class="media pt-3" id = "song_1">
        			<img src="../../static/hot_spot_music_share/img/hearts.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Love the Sky</strong>
			              <span class="d-block">by unknown</span>
			            </div>
			        </div>
			    </div>

			   <div class="media pt-3" id = "song_2">
        			<img src="../../static/hot_spot_music_share/img/hearts.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Marry the Sky</strong>
			              <span class="d-block">by unknown</span>
			            </div>
			        </div>
			    </div>


			</div>
	    </div>
	    <div class="col">
	      <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id = "panel">
				DJ: Your Spotify List
				Should be extended by DJ view

				Not-DJ: This part will be playing lyrics
			</div>
	    </div>
	    <div class="col">
	       <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id = "people">
        		<h6 class="border-bottom border-gray pb-2 mb-0">People in this room</h6>
        		<div class="media text-muted pt-3" id = "user_1">
        			<img src="../../static/hot_spot_music_share/img/user_1.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Full Name</strong>
			            </div>
			        </div>
			    </div>

			    <div class="media text-muted pt-3" id = "user_2">
        			<img src="../../static/hot_spot_music_share/img/user_1.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Full Name</strong>
			            </div>
			        </div>
			    </div>

			    <div class="media text-muted pt-3" id = "user_2">
        			<img src="../../static/hot_spot_music_share/img/user_1.png" alt="" class="mr-2 rounded" width="25">
			        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			            <div class="d-flex justify-content-between align-items-center w-100">
			              <strong class="text-gray-dark">Full Name</strong>
			            </div>
			        </div>
			    </div>

			    <button type="button" class=" float-right btn btn-lg">
          			<span class="glyphicon">&#x2b;</span> 
        	</button>
	    </div>
	  </div>
	</div>

    <!-- Bootstrap JS -->
      <script src="../../static/hot_spot_music_share/js/popper.min.js"></script>
      <script src = "../../static/hot_spot_music_share/js/jquery-3.3.1.min.js"></script>
      <script src="../../static/hot_spot_music_share/js/bootstrap.min.js"></script>

<!--     <script src="js/index.js"></script> -->
</body>
</html>