html,

body {
  background: #EDEDED;
  font-family: Arial, serif;

  padding-left: 0px;
  padding-right:0px;
  font-weight: bold;
  font-size: large;
}
p{margin:15px 0px;}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: inherit;
}
.checkmark{
    width : 30px,
    height: 30px,
}
.home_container {
  height: 100%;
  width:100%;
  padding-left: 50px;
  padding-left:50px;
  padding-top: 35px;
  border: .075em solid #696969;
}

.btn{
  z-index: 1;
  width:100%;
  color:black;
  display: inline-block;
  padding: .3em;
/*  color: rgba(255,255,255,.68);*/
  border: .075em solid #696969;
}
.notActive{
      filter: grayscale(100%);
}

.row{
  width: 95%;
}
.row-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

.row-card > div[class*='col-'] {
  display: flex;
}
.intro{
  align-items: center;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-weight: bold;
  font-size: large;
  border: .075em solid #696969;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .create {
  background-color: black;
  color:white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.sync span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sync span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sync:hover span {
  padding-right: 25px;
}

.sync:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}
#map {
    padding-top: 500px;
    height: 80%;
  }

.edit{
  width: 30%;
}
.poll_list{
  max-height: 1000px;
  overflow-y: scroll;
  height:69%;
}
.video_col{
  height:100%;
}

.dj_list{
  margin-top: 2%;
  overflow-y: scroll;
  max-height: 240px;
}

.search-result{
  overflow-y: scroll;
  max-width: 600px;
  max-height:500px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
  display: none;
  position:absolute;
  bottom:20%;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 99;
}

.search-result .close{
  float: right;
}
.search-result .close:hover{
  opacity: 1;
}

.people-chat{
  position:absolute;
  bottom:30%;
  right: 0;
  display: none;
  background: white;
  height: 40%;
  width: 40%;
  padding: 2%;
  border-radius: 5%;
  box-shadow: 0px 5px 20px #dfdfdf;
}

.people-chat #people{
  display: inline-block;
  width: 35%;
  margin: auto;
}
.people-chat #chat{
  display: inline-block;
  width: 55%;
  margin: auto;
  float:right;
}
.people-chat #chat-log{
  overflow-y: scroll;
}
.people-chat .user-in-room{
  overflow-y: scroll;
  min-height: 180px;
}

.chat{
  border-radius: 10%;
  position:absolute;
  bottom:20%;
  right: 0;
  background: white;
  box-shadow: 0px 5px 20px #dfdfdf;
}

.map{
  border-radius: 10%;
  position:absolute;
  bottom:30%;
  right: 0;
  background: white;
  box-shadow: 0px 5px 20px #dfdfdf;
}