<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
     {% load static %}
      <script src = "{% static 'hot_pot_music_share/js/jquery-3.3.1.min.js' %}"></script>

</head>
<body>
{# Display room name #}
<h1>{{ room.name }}</h1>

{# TODO: Playlist #}
<ol id="suggest-playlist">
    {% for song in playlist.songs.all %}
        <li>{{ song.song_name }} ({{ song.song_id }})</li>
    {% endfor %}
</ol>

{# TODO: Search request #}
<form action="{% url 'search-song' %}" method="GET">
    <label>
        Search songs:
        <input type="text" name="query">
        <button type="submit">Submit</button>
    </label>

{#    <input type="hidden" name="room" value="{{ room.id }}">#}
</form>
{# TODO: Search results #}

<ul id="all-searched-songs">
    {% for id, song in search_results.items %}
        <li>
        <div  id="search-song-form">
{#            <form action="/add-song-to-room-playlist" method="post" id="search-song-form">#}
                <input type="hidden" id="room_id" value="{{ room.id }}">
                <input type="hidden" id="song_id" value="{{ id }}">
                <input type="hidden" id="song_name" value="{{ song }}">
                <img src="https://img.youtube.com/vi/{{ id }}/0.jpg" width="10%" height="10%">
                {{ song }}
                <button type="button"  id="add-song-btn">Add song</button>
                {% csrf_token %}
{#        </form>#}
            </div>
        </li>
        <br>
    {% endfor %}
</ul>


<br>
<script>
        // The boilerplate code below is copied from the Django 1.10 documentation.
        // It establishes the necessary HTTP header fields and cookies to use
        // Django CSRF protection with jQuery Ajax requests.

        $( document ).ready(function(){  // Runs when the document is ready

          // using jQuery
          // https://docs.djangoproject.com/en/1.10/ref/csrf/
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }

          var csrftoken = getCookie('csrftoken');

          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }

          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

        }); // End of $(document).ready

        $("#all-searched-songs").on("click","#add-song-btn" ,function(event){

            event.preventDefault();
            var search_form = $(this).closest("#search-song-form");
            var room_id = search_form.find("#room_id");
            var song_id = search_form.find("#song_id");
            var song_name = search_form.find("#song_name");

          $.ajax({
                  // The URL for the request
                  url: "/add-song-to-room-playlist-ajax",
                  data: {
                      room_id: room_id.val(),
                      song_id: song_id.val(),
                      song_name: song_name.val()
                  },
                  // Whether this is a POST or GET request
                  type: "POST",
                  // The type of data we expect back
                  dataType : "json",
              })
              .done(function( data ) {
                  console.log(data);
                $("#suggest-playlist").empty();
                for(var i = 0; i < data.songs.length; i++) {
                      $('#suggest-playlist').append('<li>' + data.songs[i]['name'] +'\t' +
                          data.songs[i]['id'] +'</li>');
                }
              })
              .fail(function( xhr, status, errorThrown ) {
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
              })
            // Code to run regardless of success or failure;
          .always(function( xhr, status ) {
            console.log( "fetch songs request is finished!" );
            });
          /*
          $.post("/add-marker", {"room_name": room_name, "lng": lng, "lat": lat})
              .done(function(data) {
                  alert("saved!");
          });
          */
      });
    </script>


</body>
</html>