{% extends 'base.html' %}

{% block content %}
  <div class="row-card">
      <div class="col-sm-4">
        <div class="card bg-light rounded">
          <img class="card-img-top" src="{% img %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{% room_title %}</h5>
            <p class="card-text">{% room_description %}</p>
            <p class="card-text"><small class="text-muted">DJ: {% owner %}</small></p>
          </div>
        </div>
    </div>
  </div>
{% endblock%}