{% extends 'base.html' %}

{% block content %} 
     <!--  <canvas id="canvas"></canvas>    --> 
      <button type="button" class="btn btn-lg" onclick="openForm()">Create a Room</button>

      <div class="form-popup" id="myForm">
          <form class="form-container" action = "room_base.html" >
            <h1>Create A Room</h1>

            <label for="name"><b>Room Name</b></label>
            <input type="text" placeholder="Room 123" name="room_name" required>

            <label for="psw"><b>Description</b></label>
            <input type="text" placeholder="This is my room" name="description">


            <label for="avatar">Profile picture:</label>
            <input type="file"
                   id="avatar" name="avatar"
                   accept="image/png, image/jpeg" />

            <input type="checkbox" name="private" value="private" checked>A Private Room?
            <button type="submit" class="btn">Create</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>

	<script>
		function openForm() {

		    document.getElementById("myForm").style.display = "block";
		}

		function closeForm() {
		    document.getElementById("myForm").style.display = "none";
		}
    function toggleNav() {
        console.log("toggle");
        $("#wrapper").toggleClass("toggled");
    };

		</script>
{% endblock %}