{% extends 'hot_pot_music_share/base.html' %}

{% block content %}
    <!--       <canvas id="canvas"></canvas>     -->
    <button type="button" class="btn btn-lg" onclick="openForm()">Create a Room</button>

    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Popular Now</h6>
        <div class="row-card">

            {% for room in popular %}
                <a href="{% url 'room' room.id %}" class="col-sm-4">


                  <div class="card bg-light rounded">
                 {% if room.cover_pic %}
                    <img class="mr-4" src="{% url 'img' room.pk %}" width="90" alt = "">
                  {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ room.name }}</h5>
                            <p class="card-text">{{ room.description }}</p>
                            <p class="card-text">
                                <small class="text-muted">DJ: {{ room.owner.username }}</small>
                            </p>
                        </div>
                    </div>

                </a>
            {% endfor %}
        </div>
    </div>
    <div class='error'>
        {{ error }}
        {{ form.errors }}
        {{ form.non_field_errors }}
    </div>
    <div class="form-popup" id="create_room_div">
        <form class="form-container" method="POST">{% csrf_token %}
            <h1>Create A Room</h1>

            <div class="form-group my-3 mx-3">
                {% if form %}
                    <div class='error'>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </div>
                    </div>
                    <div>
                        <p class="font-weight-bold mb-0 ">{{ form.name.label }}
                            {{ form.name }}</p>

                    </div>
                    <div class="my-3">
                        <p class="font-weight-bold mb-0 ">{{ form.description.label }}{{ form.description }}</p>

                    </div>
                    <div>
                        <p class="font-weight-bold mb-0 ">Room Photo

                        {{ form.cover_pic }}</p>

                    </div>
                    
                    {#noam get locaiton#}
                    <div>
                        {#<button type="button" onclick="getLocation()">get location</button>#}
                        <input type="checkbox" onclick='handleGeoLocationClick(this);' name="geo_location"
                               value="location"> my location
                    </div>
                {% endif %}
            <!--             <input type="checkbox" name="private" value="private" checked>A Private Room? -->
            <input type="submit" name="create_room" value="Create" class="btn create"></button>
            <button type="button" class="btn" onclick="closeForm()">Close</button>
        </form>
    </div>
    <script>
        let lat = 0;
        let lng = 0;
        let geo_location_is_check = false;

        function openForm() {
            document.getElementById("create_room_div").style.display = "block";
        }

        function closeForm() {
            document.getElementById("create_room_div").style.display = "none";
        }

        function handleGeoLocationClick(cb) {
          //alert("Clicked, new value = " + cb.checked);
            if (cb.checked){
                getLocation();
            }
            else{
                geo_location_is_check = false;
                alert("geo_is_checked " + geo_location_is_check);
            }
        }

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            alert("Geolocation is not supported by this browser.");
          }
        }

        function showPosition(position) {
          lat = position.coords.latitude;
          lng = position.coords.longitude;
          geo_location_is_check = true;
          alert("lat " + lat + ", lng " + lng + " geo_is_checked " + geo_location_is_check);
        }

        /*
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        */
    </script>
{% endblock %}