<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="../../static/hot_pot_music_share/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/hot_pot_music_share/css/home.css">
    <link rel="stylesheet" href="../../static/hot_pot_music_share/css/vertical_scrollBar.css">
</head>
<body>
		<!-- This part should be in navbar.html which extends this -->
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <img class = "float-right menu" id = "menu" onclick = "toggleNav()" src = "../../static/hot_pot_music_share/img/menu.png" width = "50">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a class="figure" href = "home.html">

              <img class="mr-4" src="../../static/hot_pot_music_share/img/user_1.png" width="90" alt = "myImage">
              <p class = "username">User </p>
            </a>
          </li>
          <li>
              <a href="home.html">Home</a>
          </li>
          <li>
              <a href="discover_rooms.html">Discover</a>
          </li>
          <li>
              <a href="room_history.html">My Rooms</a>
          </li>
          <li>
              <a href="profile.html">Settings</a>
          </li>
          <li>
              <a href="login.html">Logout</a>
          </li>
        </ul>
    </div>



    <div class="page-content-wrapper">
      <div class ="container-fluid">
      
      <canvas id="canvas"></canvas>
      <div class = "container">
       
        <button type="button" class="btn btn-lg" onclick="openForm()">Create a Room</button>
      </div>
  <!-- 			<div class="col">
  				<button type="button" class="btn btn-lg">Find a Room</button>
  			</div> -->
  	

      <div class="form-popup" id="myForm">
          <form class="form-container" action = "room_base.html" >
            <h1>Create A Room</h1>

            <label for="name"><b>Room Name</b></label>
            <input type="text" placeholder="Room 123" name="room_name" required>

            <label for="psw"><b>Description</b></label>
            <input type="text" placeholder="This is my room" name="Description">


            <label for="avatar">Profile picture:</label>
            <input type="file"
                   id="avatar" name="avatar"
                   accept="image/png, image/jpeg" />

            <input type="checkbox" name="private" value="private" checked>A Private Room?
            <button type="submit" class="btn">Create</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
  	 </div>
    </div>
  </div>
  <script src="../../static/hot_pot_music_share/js/popper.min.js"></script>
  <script src = "../../static/hot_pot_music_share/js/jquery-3.3.1.min.js"></script>
  <script src="../../static/hot_pot_music_share/js/bootstrap.min.js"></script>
  <script src = "../../static/hot_pot_music_share/js/home.js"></script>
	<script>
		function openForm() {

		    document.getElementById("myForm").style.display = "block";
		}

		function closeForm() {
		    document.getElementById("myForm").style.display = "none";
		}
    function toggleNav() {
        console.log("toggle");
        $("#wrapper").toggleClass("toggled");
    };

		</script>

</body>
</html>