<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link href="../../static/hot_pot_music_share/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/hot_pot_music_share/css/room.css">
    <link rel="stylesheet" href="../../static/hot_pot_music_share/css/vertical_scrollBar.css">

    <title>Room</title>


  </head>

  <body>
  	 <div id="wrapper">
    <div id="sidebar-wrapper">
      <img class = "float-right menu" id = "menu" onclick = "toggleNav()" src = "../../static/hot_pot_music_share/img/menu.png" width = "50">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a class="figure" href = "home.html">

              <img class="mr-4" src="../../static/hot_pot_music_share/img/user_1.png" width="90" alt = "myImage">
              <p class = "username">User </p>
            </a>
          </li>
          <li>
              <a href="home.html">Home</a>
          </li>
          <li>
              <a href="discover_rooms.html">Discover</a>
          </li>
          <li>
              <a href="room_history.html">My Rooms</a>
          </li>
          <li>
              <a href="profile.html">Settings</a>
          </li>
          <li>
              <a href="login.html">Logout</a>
          </li>
        </ul>
    </div>



    <div class="page-content-wrapper">
      <div class ="container-fluid container">

	  	<div class="row">
		    <div class="col">
		     	<audio src='Kiss_the_Sky.mp3' controls preload='auto'></audio>
				<div class="my-3 p-3 bg-light text-dark  rounded box-shadow" id="dj_list">
					
					<div class="media pt-3" id = "song_0">
	        			<img src="../../static/hot_pot_music_share/img/hearts.png" alt="" class="mr-2 rounded" width="25">
				        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
				            <div class="d-flex justify-content-between align-items-center w-100">
				              <strong class="text-gray-dark">Kiss the Sky</strong>
				              <span class="d-block">by unknown</span>
				            </div>
				        </div>
				    </div>>
				</div>
			</div>
		    <div class="col">
		      <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id = "panel">
					DJ: Your Spotify List
					Should be extended by DJ view

					Not-DJ: This part will be playing lyrics
				</div>
		    </div>
		    <div class="col">
		       <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id = "people">
	        		<h6 class="border-bottom border-gray pb-2 mb-0">People in this room</h6>
	        		<div class="media text-muted pt-3" id = "user_1">
	        			<img src="../../static/hot_pot_music_share/img/user_1.png" alt="" class="mr-2 rounded" width="25">
				        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				            <div class="d-flex justify-content-between align-items-center w-100">
				              <strong class="text-gray-dark">Full Name</strong>
				            </div>
				        </div>
				    </div>

				    <button type="button" class=" float-right btn btn-lg" onclick = "openForm()">
	          			<span class="glyphicon">&#x2b;</span> 
	        		</button>
		    	</div>
		  	</div>
		</div>

  	

      <div class="form-popup" id = "popupForm">
          <form class="form-container" id = "addFriendForm" >
            <h1>Add Your Friend to This Room</h1>
            <div id="friendList">
				<input type="checkbox" name="name3" checked="checked" >Friend_01
			</div>
            <input class="btn"  type = "submit" name = "addFriend">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
  	 </div>
    </div>
  </div>
 
    <!-- Bootstrap JS -->
      <script src = "../../static/hot_pot_music_share/js/jquery-3.3.1.min.js"></script>
      <script src="../../static/hot_pot_music_share/js/popper.min.js"></script>
      <script src="../../static/hot_pot_music_share/js/bootstrap.min.js"></script>
      <script>
		$(document).ready(function(){
				$("#addFriendForm").submit(function(){
				  	var names = $('#friendList input:checked').map(function () {
					    return this.name;
					}).get();

					alert(names);
					return false;
				});
			});



			function openForm() {

				document.getElementById("popupForm").style.display = "block";
			}

			function closeForm() {
			    document.getElementById("popupForm").style.display = "none";
			}
		    function toggleNav() {
		        console.log("toggle");
		        $("#wrapper").toggleClass("toggled");
		    };
		</script>
</body>
</html>