{% extends 'base.html' %}

{% block content %}
    <!-- This is the rooms OWNED by this user -->
    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Owned By Me</h6>
        <button class = "btn-secondary float-right" id = "editMyOwn" onclick = "editMyOwn()">Edit</button>
        
        <!-- rows of rooms -->
        <div class="row-card">
              <a href="room_base.html" class="col-sm-4">

                <!-- One single room -->
                <div class="card bg-light rounded">

                  <!-- the checkbox will show after click on edit -->
                  <input type="checkbox" class = "checkbox" id="checkbox1" name="checkbox1"/>
                  <img class="card-img-top" src="../../static/hot_pot_music_share/img/logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{room_name}}</h5>
                    <p class="card-text">{{room_description}}</p>
                    <p class="card-text"><small class="text-muted">{{owner}}</small></p>
                  </div>
                </div>
              </a>
            </div>
        </div>

        <!-- This is the rooms which this user had joined -->
       <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Other's Rooms</h6>
        <button class = "btn-primary float-right" id = "editOther">Edit</button>
        
        <!-- rows of rooms -->
        <div class="row-card">
              <div class="col-sm-4">

                <!-- One single Room -->
                <div class="card bg-light rounded">

                  <!-- If this room is disabled/Deleted/OutofDate the image can change to grey by "notActive" class -->
                  <img class="card-img-top notActive" src="../../static/hot_pot_music_share/img/logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Public Room 1</h5>
                    <p class="card-text">This is a public Room for jass music. Our base is in Oakland, Pittsburgh</p>
                    <p class="card-text"><small class="text-muted">DJ: user000</small></p>
                  </div>
                </div>
              </div>

              <!-- One Single Room -->
              <div class="col-sm-4">
                <div class="card bg-light rounded">
                  <img class="card-img-top" src="../../static/hot_pot_music_share/img/logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Public Room 1</h5>
                    <p class="card-text">This is a public Room for jass music. Our base is in Oakland, Pittsburgh</p>
                    <p class="card-text"><small class="text-muted">DJ: user000</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <script>
    function editMyOwn(){

      document.getElementById("checkbox1").style.display = 'block';
    }
    </script>

{% endblock %}
