{% extends 'hot_pot_music_share/base.html' %}

{% block head %}
    {% load static %}
    <script src="{% static "hot_pot_music_share/js/room/sync_playlists.js" %}"></script>
{% endblock %}

{% block content %}
    <input type="hidden" id="room_id" value="{{ room_id }}"/>
    <input type="hidden" id="is_host" value="{{ is_host }}"/>

    <div class="row">
        <div class="col video_col">
            <h1 id="now-playing"></h1>

            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div id="player"></div>
            <br>

            <!-- Add a 'sync' now button -->
            {% if not is_host %}
                <button type="button" class="btn btn-secondary text-light" onclick="syncToHost()">Sync To Host</button>
            {% else %}
                <button type="button" class="btn btn-secondary text-light" onclick="nextVideo()">Next Video</button>
            {% endif %}

            <!-- The playlist -->
            <div class="mb-3 p-3 bg-light text-dark  rounded box-shadow dj_list">
                <h5 class="border-bottom border-dark pb-2 mb-0">Song Queue</h5>

                <div id="dj_list">
                    {% for song in song_queue %}
                        <!-- One track in the playlist -->
                        <div class="media pt-3" id="song_queue_{{ song.song_id }}">
                            <!-- The thumbnail of this video -->
                            <!-- Maybe also use API to get a thumbnail -->
                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"
                                 width="100">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- One track in the playlist -->
                {#                <div class="media pt-3" id="song_0">#}
                {#                    <!-- The thumbnail of this video -->#}
                {#                    <!-- Maybe also use API to get a thumbnail -->#}
                {#                    <img src="https://img.youtube.com/vi/{{ video_id }}/1.jpg" alt="" class="mr-2 rounded" width="35">#}
                {#                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">#}
                {#                        <div class="d-flex justify-content-between align-items-center w-100">#}
                {#                            <strong class="text-gray-dark">{{ name_of_video }}</strong>#}
                {#                            <span class="d-block">{{ author }}</span>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>

        <!-- This is the POLL -->
        <div class="col">
            <div class="mb-3 p-3 bg-dark text-light rounded box-shadow poll_list">
                <h5 class="border-bottom border-white pb-2 mb-0">Song Pool</h5>

                <div id="poll_list">
                    {% for song in song_pool %}
                        <div class="media pt-3" id="poll_song_div">
                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"
                                 width="100">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>
                                </div>
                                {% if is_host %}
                                    <button type="button" id="add-song-to-queue-btn">Add to Queue</button>
                                {% endif %}
                                <input type="hidden" id="song_id" value="{{ song.song_id }}"/>
                                <input type="hidden" id="song_name" value="{{ song.song_name }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- This is the list of people in this room -->
            <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id="people">
                <h6 class="border-bottom border-gray pb-2 mb-0">People in this room</h6>

                <!-- One user -->
                {% for u in users %}
                    <div class="media text-muted pt-3" id="user_1">
                        <!-- The profile img -->
                        <!--  <img src="SOME URL" alt="" class="mr-2 rounded" width="25"> -->
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">{{ u.username }}</strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col">
            <!-- Direct URL/VideoId Input to song queue/pool -->
            <div class=" p-3 bg-light text-dark rounded box-shadow" id="direct-input-panel">
                {% if is_host %}
                    <!--Only Hosts can add to song queue-->
                    Video URL/ID:
                    <input id="add-to-song-queue-input" type="text" size="15"/>
                    <button onclick="addToSongQueue()">Add to Queue</button><br>
                {% endif %}
                <!-- Both Hosts and Listeners can add to song pool -->
                Video URL/ID:
                <input id="add-to-song-pool-input" type="text" size="15"/>
                <button onclick="addToSongPool()">Add to Pool</button><br>


                <!-- To be filled by JS on success -->
                <span id="direct-input-success"></span>
            </div>
            <hr>

            <!-- This is the search panel -->
            <div class=" p-3 bg-light text-dark rounded box-shadow search" id="panel">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" id="search-query" placeholder="Search for...">
                    <button id="search-button" class="btn-search" type="button">Search</button>
                    <input type="hidden" id="add-comment-url" data-url="{% url 'search-song' %}"/>
                </div>
                <!-- A list of results -->
                <div id="search-results">

                    <!-- One track -->
                    <div class="media pt-3" id="song_0">

                        <!-- The thumbnail of this video -->
                        <!-- Maybe also use API to get a thumbnail -->
                        <img src="https://img.youtube.com/vi/{{ video_id }}/1.jpg" alt="" class="mr-2 rounded"
                             width="15">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">{{ name_of_video }}</strong>
                                <span class="d-block">{{ author }}</span>
                                <span class="d-block"> {{ timespan }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Sam Chat Room -->
            <div class="my-3 p-3 bg-light text-dark rounded box-shadow chat-room">
                Chat room: <br>
                <textarea id="chat-log" cols="24" rows="5"></textarea><br/>
                <input id="chat-message-input" type="text" size="10"/>

                <input id="chat-message-submit" type="button" value="Send"/>
            </div>
        </div>

    </div>


    <div class="form-popup" id="popupForm">
        <form class="form-container" id="addFriendForm">
            <h1>Add Your Friend to This Room</h1>
            <div id="friendList">
                <input type="checkbox" name="name3" checked="checked">Friend_01
            </div>
            <input class="btn" type="submit" name="addFriend">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        /*
            $(document).ready(function () {
                $("#addFriendForm").submit(function () {
                    var names = $('#friendList input:checked').map(function () {
                        return this.name;
                    }).get();

                    alert(names);
                    return false;
                });
            });
            */


        function openForm() {

            document.getElementById("popupForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }

        function toggleNav() {
            console.log("toggle");
            $("#wrapper").toggleClass("toggled");
        };

        <!-- Script appended by Sam -->

        /****************************************** SOCKET SETUP ******************************************************/
        var roomName = {{ room_name_json }};

        var socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/room/' + roomName + '/');


        var sentSyncRequestTime;  // TODO: Possible synchronize playback with RTT/2 (but didn't work well in practice)

        // On socket message received
        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);

            if ('chat_text' in data) {
                // This is a chat message, add to chat box
                var chat_text = data['chat_text'];
                var username = data['username'];

                document.querySelector('#chat-log').value += (username + ': ' + chat_text + '\n');
            } else if ('sync_request' in data) {
                // This is a sync request from a Listener, Host should sync Listeners now
                console.log('Received sync_request = ' + data + 'from username: ' + data['from_username']);

                syncListeners();

            } else if ('sync_result' in data) {
                // This is a sync result from Host, Listeners should sync-up
                console.log('Received sync_result...');

                // Play the correct video
                if (String(player.getVideoData()['video_id']) !== data['video_id']) {
                    console.log("\tChanging my video and going to new position + offset...");

                    player.stopVideo();
                    offset = getNetworkOffset(sentSyncRequestTime);
                    player.cueVideoById(data['video_id'], data['position'] + offset);

                } else if (String(player.getCurrentTime()) !== data['position']) {
                    console.log("\tCorrect video, but going to new position + offset...");

                    // Otherwise, correct video - just jump to correct offset
                    offset = getNetworkOffset(sentSyncRequestTime);
                    player.seekTo(parseInt(data['position']) + offset);
                }

                // Play the video, if needed
                if (data['is_playing'] === 'true' && player.getPlayerState() != YT.PlayerState.PLAYING) {
                    console.log("\tHost is playing and I am not, so I will play...");
                    player.playVideo();
                } else if (data['is_playing'] === 'false' && player.getPlayerState() != YT.PlayerState.PAUSED) {
                    console.log("\tHost is not playing and I am, so I will pause...");
                    player.pauseVideo();
                }

            }

        };

        // On socket closed
        socket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        /****************************************** CHAT ROOM  ********************************************************/

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            console.log('sending...');
            socket.send(JSON.stringify({
                'chat_message': message,
                'username': '{{ username }}',
            }));

            messageInputDom.value = '';
        };


        /****************************************** YOUTUBE PLAYER ****************************************************/

        // Youtube API Key
        ytApiKey = 'AIzaSyC6zJT9fu29Wj6T67uRxfnQvc9kyP4wz3Y';

        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)  after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            const videoId = getTopOfSongQueue();
            console.log("onYouTubeIframeAPIReady - videoId = " + videoId);

            player = new YT.Player('player', {
                height: '293',
                width: '480',
                videoId: videoId,
                playerVars: {
                    'start': 0,
                },
                events: {
                    {% if is_host %}
                        'onStateChange': onHostPlayerStateChange,
                    {% else %}
                        'onStateChange': onListenerPlayerStateChange,
                        'onReady': onPlayerReady,
                    {% endif %}
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            // Listeners ask to sync-up to Host when their player is ready (when they first join the room)
            syncToHost();
        }


        function onHostPlayerStateChange(event) {
            const playerStatus = event.data;

            switch (playerStatus) {
                case YT.PlayerState.PLAYING:
                    console.log("onHostPlayerStateChange, case: YT.PlayerState.PLAYING");

                    // Highlight currently playing song
                    //const currVideoId = cleanVideoIdInput(String(player.getVideoUrl()));
                    //$(`#song_queue_${currVideoId}`).css('background-color', 'yellow');

                    break;
                case YT.PlayerState.PAUSED:
                    console.log("onHostPlayerStateChange, case: YT.PlayerState.PAUSED");
                    break;
                case YT.PlayerState.BUFFERING:
                    console.log("onHostPlayerStateChange, case: YT.PlayerState.BUFFERING");
                    break;
                case YT.PlayerState.CUED:
                    console.log("onHostPlayerStateChange, case: YT.PlayerState.CUED");
                    break;
                case YT.PlayerState.ENDED:
                    console.log("onHostPlayerStateChange, case: YT.PlayerState.ENDED");
                    // TODO: Start playing next song in the queue
                    // Delete currently playing song from queue and play next one
                    nextVideo();
                    break;
            }

            // Host syncs up Listeners whenever Host's player state changes
            syncListeners();
            return;
        }

        function onListenerPlayerStateChange(event) {
            const playerStatus = event.data;

            switch (playerStatus) {
                case YT.PlayerState.PLAYING:
                    console.log("onListenerPlayerStateChange, case: YT.PlayerState.PLAYING");

                    // Highlight currently playing song
                    //const currVideoId = cleanVideoIdInput(String(player.getVideoUrl()));
                    //$(`#song_queue_${currVideoId}`).css('background-color', 'yellow');

                    break;
            }
        }


        // Host will call this function so Listeners will sync
        function syncListeners() {
            var currPosition = player.getCurrentTime();

            socket.send(JSON.stringify({
                'sync_result_message': '',
                'video_id': String(player.getVideoData()['video_id']),
                'position': currPosition,
                'is_playing': String(player.getPlayerState() === YT.PlayerState.PLAYING),
            }));

            console.log('Host sent back sync_result');
        }

        // Listener will call this function to ask Host for video information
        function syncToHost() {
            // Send message via socket
            socket.send(JSON.stringify({
                'sync_request_message': '',
                'username': '{{ username }}',
            }));

            sentSyncRequestTime = window.performance.now();
        }

        // Helper function get offset in seconds
        function getNetworkOffset(startTime) {
            {#return (window.performance.now() / startTime) / 2 / 1000;#}

            /* FIXME: 0.3 - 0.5 seems to be the average offset... But is there a better way?
             * Main issue is that Listener will:
             *  1) Receive offset
             *  2) Start BUFFERING...
             *  3) Start PLAYING...
             *
             *  Cannot know how long the 'BUFFERING' state will take in the future...
             */
            return 0.5;
        }

        // Helper function to clean up video input from URL/ID to just ID
        function cleanVideoIdInput(input) {
            console.log('cleanVideoIdInput input: ' + input);
            var videoId = input;
            console.log('cleanVideoIdInput videoId: ' + videoId);

            // It's okay if they input a URL
            if (videoId.includes('youtube.com')) {
                videoId = input.split('v=')[1];
                console.log('\tcleanVideoIdInput videoId: ' + videoId);
            } else if (videoId.includes('youtu.be')) {
                // Shortened URL form: https://youtu.be/JQbjS0_ZfJ0
                videoId = input.split('.be/')[1];
                console.log('\tcleanVideoIdInput videoId: ' + videoId);
            }

            // If there are other URL parameters
            if (videoId.includes('&')) {
                videoId = videoId.substr(0, videoId.indexOf('&'));
            }

            return videoId;
        }

        // Change video to submitted video
        function changeVideoSubmit() {
            const input = document.getElementById('video-id-input').value;
            const videoId = cleanVideoIdInput(input);

            changeVideoById(videoId);
        }

        /*
                        <button onclick="addToSongQueue()">Add to Song Queue</button><br>
            { endif %}

            <!-- Both Hosts and Listeners can add to Song Pool -->
            Video ID or URL:
            <input id="add-to-song-pool-input" type="text" size="10"/>
            <button onclick="addToSongPool()">Add to Song Pool</button>
        */

        function addToSongQueue() {
            const input = document.getElementById('add-to-song-queue-input').value;
            const videoId = cleanVideoIdInput(input);

            // Get Song Title
            const videoTitle = getVideoTitleFromId(videoId);

            // Update Django DB via sockets
            socket.send(JSON.stringify({
                'add_to_song_queue_message': '',
                'song_id': videoId,
                'song_name': videoTitle,
            }));

            // Give success message
            if (videoTitle) {
                $("#direct-input-success").css({"color": "#31c122"});
                $("#direct-input-success").text("Successfully added " + videoTitle);
            }
        }

        function addToSongPool() {
            const input = document.getElementById('add-to-song-pool-input').value;
            const videoId = cleanVideoIdInput(input);

            // Get Song Title
            const videoTitle = getVideoTitleFromId(videoId);

            // Update Django DB via sockets
            socket.send(JSON.stringify({
                'add_to_song_pool_message': '',
                'song_id': videoId,
                'song_name': videoTitle,
            }));

            // Give success message
            if (videoTitle) {
                $("#direct-input-success").css({"color": "#31c122"});
                $("#direct-input-success").text("Successfully added " + videoTitle);
            }
        }

        // Helper function to get youtube song title from ID
        function getVideoTitleFromId(videoId) {
            var videoTitle;
            $.ajax({
                async: false, // Wait for GET request to finish to return song title
                type: 'GET',
                url: "https://www.googleapis.com/youtube/v3/videos?part=snippet&id=" + videoId + "&key=" + ytApiKey,
                success: function (data) {
                    videoTitle = data.items[0].snippet.title;
                    console.log('new videoTitle: ' + videoTitle);
                }
            });

            console.log('returning videoTitle: ' + videoTitle);
            return videoTitle;
        }


        // TODO: Put function here to tie in Noam's search stuff to call 'changeVideoById
        /*
        function changeVideoOnClick() {
            // Get the URL from the link clicked
            changeVideoById(videoId);
        }
         */


        // Helper function to change the player itself to the new video ID
        function changeVideoById(videoId) {
            player.stopVideo();
            player.cueVideoById(videoId);
            player.playVideo();
        }

        // On the event the Host wants to go to the next video OR end of currently playing video
        function nextVideo() {
            // Make GET request to get current playing song from top of song queue
            const currVideoId = cleanVideoIdInput(String(player.getVideoUrl()));
            deleteFromSongQueue(currVideoId);

            // Make GET request to get top song
            const videoId = getTopOfSongQueue();

            if (videoId) {
                // videoId could be undefined if no more songs left (FIXME: UI error message)
                changeVideoById(videoId);
            }
        }

        // Make GET call to 'delete-from-song-queue'
        function deleteFromSongQueue(videoId) {
            $.ajax({
                async: false, // Wait for GET request to finish
                url: '/delete-from-song-queue/' + {{ room_id }} +'/' + videoId,
                type: "GET",
                dataType: "json",
            })
                .done(function (data) {
                    videoId = String(data.id);
                    videoName = String(data.name);

                    console.log("Got pop-song-queue response: " + videoId + ", " + videoName);

                    changeVideoById(videoId);
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                });
        }

        // Make GET call to 'get-top-of-song-queue'
        function getTopOfSongQueue() {
            var videoId;
            $.ajax({
                async: false, // Wait for GET request to finish
                url: '/get-top-of-song-queue/' + {{ room_id }},
                type: "GET",
                dataType: "json",
            })
                .done(function (data) {
                    videoId = String(data.id);
                    videoName = String(data.name);

                    console.log("Got get-top-of-song-queue response: " + videoId + ", " + videoName);
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                });
            return videoId;
        }

        /* NOAM JS START **********************************************************************************************/

        // The boilerplate code below is copied from the Django 1.10 documentation.
        // It establishes the necessary HTTP header fields and cookies to use
        // Django CSRF protection with jQuery Ajax requests.

        $(document).ready(function () {  // Runs when the document is ready
            // using jQuery
            // https://docs.djangoproject.com/en/1.10/ref/csrf/
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        }); // End of $(document).ready

        $("#panel").on("click", "#search-button", function (event) {
            var panel = $(this).closest("#panel");
            var query = panel.find("#search-query");
            var p_url = panel.find("#add-comment-url").attr("data-url");

            $.ajax({
                // The URL for the request
                url: p_url,
                data: {
                    query: query.val()
                },
                // Whether this is a POST or GET request
                type: "GET",
                // The type of data we expect back
                dataType: "json",
            })
                .done(function (data) {
                    $("#search-results").empty();
                    for (var i = 0; i < data.songs.length; i++) {
                        var v_id = data.songs[i]['id'];
                        var v_name = data.songs[i]['name'];
                        {#$('#suggest-playlist').append('<li>' + data.songs[i]['name'] +'\t' +#}

                        $('#search-results').append(
                            '<div class="media pt-3" id="search-song-div">' +
                            '<img src="https://img.youtube.com/vi/' + v_id + '/0.jpg" alt="" class="mr-2 rounded" width="200">' +
                            '    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">' +
                            '       <div class="d-flex justify-content-between align-items-center w-100">' +
                            '       <strong class="text-gray-dark">' + v_name + '</strong>' +
                            {#'        <span class = "d-block"> {{timespan}}</span>'+#}
                            '       <button type="button" id="add-song-btn">Add song</button>' +
                            '       <input type="hidden" id="song_id" value="' + v_id + '"/>' +
                            '       <input type="hidden" id="song_name" value="' + v_name + '"/>' +
                            '     </div>' +
                            '</div>' +
                            '</div>');
                    }
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                })
                // Code to run regardless of success or failure;
                .always(function (xhr, status) {
                    console.log("fetch songs request is finished!");
                });
        });

        /*****************************************************************************************8
         ADD SONG FROM SEARCH TO POOL
         */
        $("#search-results").on("click", "#add-song-btn", function (event) {
            event.preventDefault();
            var search_form = $(this).closest("#search-song-div");
            var room_id = $("#room_id");
            var song_id = search_form.find("#song_id");
            var song_name = search_form.find("#song_name");

            $.ajax({
                // The URL for the request
                url: "/add-song-to-room-playlist-ajax",
                data: {
                    room_id: room_id.val(),
                    song_id: song_id.val(),
                    song_name: song_name.attr('value')
                },
                // Whether this is a POST or GET request
                type: "POST",
                // The type of data we expect back
                dataType: "json",
            })
                .done(function (data) {
                    console.log(data);
                    $("#poll_list").empty();
                    for (var i = 0; i < data.songs.length; i++) {
                        var v_id = data.songs[i]['id'];
                        var v_name = data.songs[i]['name'];

                        $('#poll_list').append(
                            '<div class="media pt-3" id="poll_song_div">' +
                            '<img src="https://img.youtube.com/vi/' + v_id + '/0.jpg" alt="" class="mr-2 rounded" width="100">' +
                            '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">' +
                            '    <div class="d-flex justify-content-between align-items-center w-100">' +
                            '      <strong class="text-gray-dark">' + v_name + '</strong>' +
                            '    </div>' +
                            '<button type="button" id="add-song-to-queue-btn">Add to Queue</button>' +
                            '       <input type="hidden" id="song_id" value="' + v_id + '"/>' +
                            '       <input type="hidden" id="song_name" value="' + v_name + '"/>' +
                            '</div>' +
                            '</div>');
                    }
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                })
                // Code to run regardless of success or failure;
                .always(function (xhr, status) {
                    console.log("fetch songs from poll request is finished!");
                });
            /*
            $.post("/add-marker", {"room_name": room_name, "lng": lng, "lat": lat})
                .done(function(data) {
                    alert("saved!");
            });
            */
        });


        /*****************************************************************************************8
         ADD SONG FROM POOL TO QUEUE
         */
        $("#poll_list").on("click", "#add-song-to-queue-btn", function (event) {
            event.preventDefault();
            var search_form = $(this).closest("#poll_song_div");
            var room_id = $("#room_id");
            var song_id = search_form.find("#song_id");
            var song_name = search_form.find("#song_name");

            $.ajax({
                // The URL for the request
                url: "/add-song-from-pool-to-queue",
                data: {
                    room_id: room_id.val(),
                    song_id: song_id.val(),
                    song_name: song_name.attr('value')
                },
                // Whether this is a POST or GET request
                type: "POST",
                // The type of data we expect back
                dataType: "json",
            })
                .done(function (data) {
                    console.log(data);
                    $("#dj_list").empty();
                    for (var i = 0; i < data.songs.length; i++) {
                        var v_id = data.songs[i]['id'];
                        var v_name = data.songs[i]['name'];

                        $('#dj_list').append(
                            '<div class="media pt-3" id="song_0">' +
                            '<img src="https://img.youtube.com/vi/' + v_id + '/0.jpg" alt="" class="mr-2 rounded" width="100">' +
                            '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">' +
                            '    <div class="d-flex justify-content-between align-items-center w-100">' +
                            '         <strong class="text-gray-dark">' + v_name + '</strong>' +
                            '      </div>' +
                            '   </div>' +
                            '</div>');

                    }
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                })
                // Code to run regardless of success or failure;
                .always(function (xhr, status) {
                    console.log("fetch songs from poll request is finished!");
                });

        });

        /*
        function ajaxAddSongToListRequest(method_url, method_data, metod, htmlEntry, newList){
            $.ajax({
                // The URL for the request
                url: method_url,
                data : method_data,
                // Whether this is a POST or GET request
                type: method,
                // The type of data we expect back
                dataType: "json",
            })
                .done(function (data) {
                    console.log(data);
                    newList.empty();
                    for (var i = 0; i < data.songs.length; i++) {
                        var v_id = data.songs[i]['id'];
                        var v_name = data.songs[i]['name'];
                        newList.append(htmlEntry);

                    }
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                })
                // Code to run regardless of success or failure;
                .always(function (xhr, status) {
                    console.log("fetch songs from poll request is finished!");
                });
        }
        */
    </script>

{% endblock %}