{% extends 'hot_pot/base.html' %}

{% block content %}
{% load static %}
	<div class="card mx-4 my-3 box-shadow">
        <div class="card-header bg-secondary text-light ">
            <h4 class="my-1 font-weight-normal">{{username}}</h4>
        </div>
        <div class="card-body">
          	<form enctype = "multipart/form-data"  method = "POST">{% csrf_token %}

          		<div class = "form-group my-3 mx-3">

			    	<div class = 'error' >
			    		{{profileForm.errors}}
			    		{{profileForm.non_field_errors}}
			    	</div>

			    	<div class = "my-3">
						<p class = "font-weight-bold mb-0 ">{{profileForm.age.label}}</p>
				    	<p class = "mx-4">{{profileForm.age}}</p>
						
					</div>

					<div class = "my-3">
						<p class = "font-weight-bold mb-0 ">{{profileForm.bio.label}}</p>
				    	<p class = "mx-4">{{profileForm.bio}}</p>
						
					</div>
					<div class = "my-3">
						<p class = "font-weight-bold mb-0 ">Profile Photo</p>
						{% if profileForm.img.value %}
				      <!-- <p class = "font-weight-bold mb-0 ">Profile Image</p> -->
					      	
					      <img  class ="mx-4" src = '{% url "user_img" username %}' alt = "" width = "80" height = "80">
					    {% endif%}
				    	{{profileForm.img}}
					
					</div>

				</div>

          		<input  type="submit" class="btn btn-lg btn-block btn-outline-primary my-3" name = 'user_profile' value ="Submit">
          	</form>
        </div>


    </div>

        <div class="my-3 p-3 rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0"><strong>My Rooms</strong></h4>
<!--         <button class = "btn-secondary float-right" id = "editMyOwn" onclick = "editMyOwn()">Edit</button> -->
        
        <!-- rows of rooms -->
        <div class="row-card">
              
              <!-- One single room -->
              {% for room in owned %}
                <a href="{% url 'room' room.id %}" class="col-sm-3">


                  <div class="card bg-light rounded">
                 {% if room.cover_pic %}
                    <img  src="{% url 'room_img' room.id %}" class = "card-img-top" width =  alt = "">
                  {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ room.name }}</h4>
                        </div>
                    </div>

                </a>
                 <a href="{% url 'edit_room' room.id %}" >
                    <img src="{% static 'img/edit.png' %}" width = "25">
                  </a>
            {% endfor %}
              

            </div>
        </div>
{% endblock %}