{% extends 'hot_pot/base.html' %}

{% block content %}
{% load static %}
    <!--       <canvas id="canvas"></canvas>     -->
    <div class = "row">

            
        <img  src="{% static 'img/header.png' %}" class = "header" alt = "">
             
    <div class = "col-6 float-right">
        <button type="button" class="btn btn-lg create" onclick="openForm()">Create a Room</button>
    </div>

    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Popular Now</h6>
        <div class="row-card">

            {% for room in popular %}
                <a href="{% url 'room' room.id %}" class="col-sm-2">


                  <div class="card bg-light rounded mx-2 my-3">
                 {% if room.cover_pic %}
                    <img  src="{% url 'room_img' room.id %}" class = "card-img-top" alt = "">
                  {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ room.name }}</h4>
                            <p class="card-text">{{ room.description }}</p>
                            <p class="card-text">
                                <small class="text-muted">DJ: {{ room.owner.username }}</small>
                            </p>
                        </div>
                    </div>

                </a>
            {% endfor %}
        </div>
    </div>
    <div class='error'>
        {{ error }}
        {{ form.errors }}
        {{ form.non_field_errors }}
    </div>
    <div class="form-popup" id="create_room_div">
        <form class="form-container" method="POST">{% csrf_token %}
            <h1>Create A Room</h1>

            <div class="form-group my-3 mx-3">
                {% if form %}
                    <div class='error'>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </div>
                    </div>
                    <div>
                        <p class="font-weight-bold mb-0 ">{{ form.name.label }}
                            {{ form.name }}</p>

                    </div>
                    <div class="my-3">
                        <p class="font-weight-bold mb-0 ">{{ form.description.label }}{{ form.description }}</p>

                    </div>
                    <div>
                        <p class="font-weight-bold mb-0 ">Room Photo

                        {{ form.cover_pic }}</p>

                    </div>
                    

                {% endif %}

            <input type="submit" name="create_room" value="Create" class="btn create"></button>
            <button type="button" class="btn" onclick="closeForm()">Close</button>
        </form>
    </div>
    <script>


        function openForm() {
            document.getElementById("create_room_div").style.display = "block";
        }

        function closeForm() {
            document.getElementById("create_room_div").style.display = "none";
        }
    </script>

{% endblock %}