{% extends 'hot_pot/base.html' %}

{% block content %}
    <!-- This is the rooms OWNED by this user -->
    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Owned By Me</h6>
        <button class = "btn-secondary float-right" id = "editMyOwn" onclick = "editMyOwn()">Edit</button>
        
        <!-- rows of rooms -->
        <div class="row-card">
              
                <!-- One single room -->
                {% for room in owned %}
                  <a href="{% url 'room' room.pk %}" class="col-sm-4">

                    <div class="card bg-light rounded">
                   {% if room.cover_pic %}
                      <img class="mr-4" src="{% url 'img' room.pk %}" width="90" alt = "">

                    {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{ room.name }}</h5>
                        <p class="card-text">{{room.description }}</p>
                        <p class="card-text"><small class="text-muted">DJ: {{room.owner.username}}</small></p>
                      </div>
                    </div>
                  
                </a>
                {% endfor %}
              

            </div>
        </div>

        <!-- This is the rooms which this user had joined -->
       <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">visited</h6>
        <button class = "btn-primary float-right" id = "editOther">Edit</button>
        
        <!-- rows of rooms -->
        <div class="row-card">

                <!-- One single room -->
                {% for history in visited %}
                  <a href="{% url 'room' history.visited_room.pk %}" class="col-sm-4">

                    <div class="card bg-light rounded">
                   {% if history.visited_room.cover_pic %}
                      <img class="mr-4" src="{% url 'img' history.visited_room.pk %}" width="90" alt = "">

                    {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{ history.visited_room.name }}</h5>
                        <p class="card-text">{{history.visited_room.description }}</p>
                        <p class="card-text"><small class="text-muted">DJ: {{history.visited_room.owner.username}}</small></p>
                        <p class="card-text"><small class="text-muted">visted at: {{history.join_date}}</small></p>
                      </div>
                    </div>
                  
                </a>
                {% endfor %}

        </div>

  <script>
    function editMyOwn(){

      document.getElementById("checkbox1").style.display = 'block';
    }
    </script>

{% endblock %}
