{% extends 'hot_pot/base.html' %}

{% block content %}
{% load static %}
    <input type="hidden" id="room_id" value="{{ room_id }}"/>
    <input type="hidden" id="room_name" value="{{ room_name }}"/>
    <input type="hidden" id="is_dj" value="{{ is_dj }}"/>
    <input type="hidden" id="username" value="{{ username }}"/>

    <div class = "room-info">
    	<img class = "info" src = "{% url 'room_img' room_id %}" width = "25"> 
    	<div class = "info">Room: {{room_name}}</div>
    	<div class = "info">Owner: {{room_owner}} </div>
   <!-- can also include online people count or the song name which is currently playing -->

    </div>
    <div class="row mx-3">
        <div class="col video_col">
             <!-- YOUTUBE PLAYER START -->
            <h1 id="now-playing"></h1>
            <div id="player"></div>
            <br>

            <!-- Add a 'sync' now button -->
            {% if not is_host %}
                <button type="button" class="btn btn-secondary text-light sync" onclick="syncToHost()"><span> Sync To Host  &#8594;</span></button>
            {% else %}
                <button type="button" class="btn btn-secondary text-light sync" onclick="nextVideo()"><span> Next Video  &#8594;</span></button>
            {% endif %}
             <!-- YOUTUBE PLAYER END -->

            <!-- SONG QUEUE START -> -->
            <div class="mb-3 p-3 bg-light text-dark  rounded box-shadow dj_list">
                <h5 class="border-bottom border-dark pb-2 mb-0">Song Queue</h5>


                <div id="dj_list">
                    {% for song in song_queue %}
                        <!-- One track in the playlist -->
                        <div class="media pt-3 border-bottom border-secondary" id="song_queue_{{ song.song_id }}">
                            <!-- The thumbnail of this video -->
                            <!-- Maybe also use API to get a thumbnail -->
                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"
                                 width="100">
                            <div class="media-body pb-3 mb-0 small lh-125  rounded-right">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col">
            <div class=" p-3 bg-light text-dark rounded box-shadow" id="panel">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="search-query" placeholder="Search for...">
                    <button id="search-button" class="btn-search" type="button" onclick = "showSearchResult()">Search</button>
                    <input type="hidden" id="add-comment-url" data-url="{% url 'search-song' %}"/>
                </div>
                            <!-- Direct URL/VideoId Input to song queue/pool -->
                <div id="direct-input-panel" class="input-group">
                    {% if is_host %}
                        <!--Only Hosts can add to song queue-->
    
                        <input id="add-to-song-queue-input" type="text" class="form-control" placeholder="Video URL/ID" />
                        <button class="btn-search" type="button" onclick="addToSongQueue()">Add to Queue</button><br/>
                    {% endif %}
                    <input id="add-to-song-pool-input" type="text" class="form-control ml-3" placeholder="Video URL/ID"/>
                    <button class="btn-search" type="button" onclick="addToSongPool()">Add to Pool</button>
                    <br>

                    <!-- To be filled by JS on success -->
                    <span id="direct-input-success"></span>
                </div>

            </div>
            <!-- SONG POOL START -->
            <div class="my-3 p-3 bg-light text-dark rounded box-shadow poll_list">
                <h5 class="border-bottom border-white pb-2 mb-0">Song Pool</h5>

                <div id="poll_list">
                    {#                    {% for song in song_pool %}#}
                    {#                        <div class="media pt-3" id="poll_song_div">#}
                    {#                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"#}
                    {#                                 width="100">#}
                    {#                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">#}
                    {#                                <div class="d-flex justify-content-between align-items-center w-100">#}
                    {#                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>#}
                    {#                                </div>#}
                    {#                                {% if is_dj %}#}
                    {#                                    <button type="button" id="add-song-to-queue-btn">Add to Queue</button>#}
                    {#                                {% endif %}#}
                    {#                                <input type="hidden" id="song_id" value="{{ song.song_id }}"/>#}
                    {#                                <input type="hidden" id="song_name" value="{{ song.song_name }}"/>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                </div>
            </div>

            <!-- SONG POOL END ->
        </div>
    </div>
            <!- END OF ROW -->
    <button class = "map" ><img src="{% static 'img/geo_color.png' %}"onclick = "openMap()" width = "50" height = "50"></button>
    <button class = "chat"><img src="{% static 'img/chat.png' %}" onclick = "openChat()" width = "50" height = "50"></button>
    <!-- <img src="{% static 'img/close.png' %}" class = "vote" onclick = "Vote()" width = "40" height = "40"> -->


    <div class = "people-chat" id="people-chat">
        <img src="{% static 'img/close.png' %}"class = "close"onclick = "closeChat()" width = "25" height = "25">
        <!-- PEOPLE LIST START  -->
        <div id="people">

            <h5 class="border-bottom border-gray pb-2 mb-0">People</h5>
            <div class = "user-in-room">
            </div>
        </div>
         <!-- CHAT ROOM START -->
         <div id = "chat">
            <h5 class="border-bottom border-gray pb-2 mb-0">Chat Room</h5>
            <textarea id="chat-log" cols="26" rows="5"></textarea><br/>
            
            <div class="input-group">
                <input id="chat-message-input" type="text" class="form-control"/>

                <input id="chat-message-submit" class = "btn-search" type="button" value="Send"/>
            </div>
        </div>
    </div>


            <!-- A list of results -->
    <div class = "search-result" id="search">
        <img src="{% static 'img/close.png' %}"class = "close"onclick = "closeSearchResult()" width = "25" height = "25">
        <h6 class="border-bottom border-dark pb-2 mb-0">Search Result</h6>

        <div id = "search-results">

        </div>
    </div>


{% endblock %}


{% block script %}
    <!-- Include all necessary js files from static folder (Important this is at the end so that elements load) -->
    {% load static %}
    <script src="{% static "js/room/room_helper.js" %}"></script>
    <script src="{% static "js/room/sync_playlists.js" %}"></script>
    <script src="{% static "js/room/on_room_ready.js" %}"></script>
    <script src="{% static "js/room/search.js" %}"></script>
    <script src="{% static "js/room/modify_playlists.js" %}"></script>
    <script src="{% static "js/room/voting.js" %}"></script>

    <script>lastTimeSyncdUp = window.performance.now(); // Variable shared across sockets.js and youtube_player.js</script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "js/room/sockets.js" %}"></script>
    <script src="{% static "js/room/chat.js" %}"></script>
    <script src="{% static "js/room/youtube_player.js" %}"></script>
    <script src="{% static "js/room/current_users.js" %}"></script>

    <script src="{% static "js/room/djs.js" %}"></script>

    <!-- Leftover in-line JS script block for UI related things -->
    <script>
        function  openMap(){

        }

        function openChat(){
            document.getElementById("people-chat").style.display = "block";
        }
        function closeChat(){
            document.getElementById("people-chat").style.display = "none";
        }
        function showSearchResult() {
            document.getElementById("search").style.display = "block";
        }

        function closeSearchResult() {
            document.getElementById("search").style.display = "none";
        }
        function toggleNav() {
            console.log("toggle");
            $("#wrapper").toggleClass("toggled");
        };
    </script>

{% endblock %}
