{% extends 'hot_pot/base.html' %}

{% block content %}
    {% load static %}
    <input type="hidden" id="room_id" value="{{ room_id }}"/>
    <input type="hidden" id="room_name" value="{{ room_name }}"/>
    <input type="hidden" id="is_owner" value="{{ is_owner }}"/>
    <input type="hidden" id="is_dj" value="{{ is_dj }}"/>
    <input type="hidden" id="is_hotpot_mode" value="{{ is_hotpot_mode }}"/>
    <input type="hidden" id="username" value="{{ username }}"/>

    <div class="mb-3 ml-4  mr-5 p-3 rounded box-shadow info-panel">
        <img class="info" src="{% url 'room_img' room_id %}" width="50">
        <h5 class=" info"> Room: {{ room_name }}</h5>
        <h5 class=" info">Owner: {{ room_owner }} </h5>
        {% if is_hotpot_mode %}
            <p data-toggle="tooltip" title="Everyone is a DJ in this room." class="text-light float-right">HotPot
                Mode</p>
        {% endif %}
    </div>

    <div class="row mx-3">
        <div class="col">
            <!-- YOUTUBE PLAYER START -->
            <h1 id="now-playing"></h1>
            <div id="player"></div>
            <br>

            <!-- Add a 'sync' now button -->
            {% if not is_dj %}
                <button type="button" class="btn btn-secondary text-light sync inline" onclick="syncToHost()"><span> Sync To Host  &#8594;</span>
                </button>
            {% else %}
                <button type="button" class="btn btn-secondary text-light sync inline" onclick="nextVideo()"><span> Next Video  &#8594;</span>
                </button>
            {% endif %}
            <!-- YOUTUBE PLAYER END -->

            <!-- SONG QUEUE START -> -->
            <div class="mb-3 p-3 bg-light text-dark  rounded box-shadow dj_list">
                <h5 class="border-bottom border-dark pb-2 mb-0">Song Queue</h5>


                <div id="dj_list">
                    {% for song in song_queue %}
                        <!-- One track in the playlist -->
                        <div class="media pt-3 border-bottom border-secondary" id="song_queue_{{ song.song_id }}">
                            <!-- The thumbnail of this video -->
                            <!-- Maybe also use API to get a thumbnail -->
                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"
                                 width="100">
                            <div class="media-body pb-3 mb-0 small lh-125  rounded-right">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <!-- TABS START -->
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-pool-tab" data-toggle="tab" href="#nav-pool" role="tab"
                       aria-controls="nav-pool" aria-selected="true">Song Pool</a>
                    <a class="nav-item nav-link" id="nav-search-tab" data-toggle="tab" href="#nav-search" role="tab"
                       aria-controls="nav-search" aria-selected="false">Song Search</a>
                    <a class="nav-item nav-link" id="nav-chat-tab" data-toggle="tab" href="#nav-chat" role="tab"
                       aria-controls="nav-chat" aria-selected="false">Chat</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <!-- SONG POOL TAB CONTENT -->
                <div class="tab-pane fade show active" id="nav-pool" role="tabpanel" aria-labelledby="nav-pool-tab">
                    <!-- SONG POOL START -->
                    <div class="m-3 p-3 bg-light text-dark rounded box-shadow poll_list">
                        <h5 class="border-bottom border-white pb-2 mb-0">Song Pool</h5>

                        <div id="poll_list">
                            {#                    {% for song in song_pool %}#}
                            {#                        <div class="media pt-3" id="poll_song_div">#}
                            {#                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"#}
                            {#                                 width="100">#}
                            {#                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">#}
                            {#                                <div class="d-flex justify-content-between align-items-center w-100">#}
                            {#                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>#}
                            {#                                </div>#}
                            {#                                {% if is_dj %}#}
                            {#                                    <button type="button" id="add-song-to-queue-btn">Add to Queue</button>#}
                            {#                                {% endif %}#}
                            {#                                <input type="hidden" id="song_id" value="{{ song.song_id }}"/>#}
                            {#                                <input type="hidden" id="song_name" value="{{ song.song_name }}"/>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                    {% endfor %}#}
                        </div>
                    </div>
                </div>
                <!-- SONG SEARCH TAB CONTENT -->
                <div class="tab-pane fade" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
                    <div class="m-3 p-3 bg-light text-dark rounded box-shadow" id="panel">
                        <!-- Direct URL/VideoId Input to song queue/pool -->
                        {% if is_dj %}
                            <div id="direct-input-panel" class="input-group">

                                <!--Only Hosts can add to song queue-->
                                <input id="add-to-song-queue-input" type="text" class="form-control mr-3"
                                       placeholder="Video URL or ID"/>
                                <button class="btn-search" type="button" onclick="addToSongQueue()">Add to Queue
                                </button>
                            </div>
                        {% endif %}
                        <div id="direct-input-panel" class="input-group">

                            <input id="add-to-song-pool-input" type="text" class="form-control"
                                   placeholder="Video URL or ID"/>
                            <button class="btn-search" type="button" onclick="addToSongPool()">Add to Pool</button>
                        </div>

                        <!-- To be filled by JS on success -->
                        <span id="direct-input-success"></span>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search-query" placeholder="Search for...">
                            <button id="search-button" class="btn-search" type="button" onclick="showSearchResult()">
                                Search
                            </button>
                            <input type="hidden" id="add-comment-url" data-url="{% url 'search-song' %}"/>
                        </div>
                        <!-- A list of results -->
                        <div class="search-result" id="search">
                            <h6 class="border-bottom border-dark pb-2 mb-0">Search Results</h6>
                            <div id="search-results">
                                <!-- To be filled in by JS -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHAT TAB CONTENT -->
                <div class="tab-pane fade" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
                    <div class="people-chat">

                        <!-- CHAT ROOM START -->
                        <h5 class="border-bottom border-gray pb-2 mb-0">Chat Room</h5>
                        <div id="chat">
                            <div id="chat-log">
                                <!-- To be filled by sockets.js -->
                            </div>

                            <div class="input-group">
                                <input id="chat-message-input" type="text" maxlength="75" class="form-control"/>
                                <input id="chat-message-submit" class="btn-search" type="button" value="Send"/>
                            </div>
                        </div>

                        <!-- DJ/LISTENER LIST START  -->
                        <h5 class="border-bottom border-gray pb-2 mb-0">DJs in this room</h5>
                        <div id="djs">
                            <div class="dj-in-room">
                                <!-- To be filled in by JS -->
                            </div>
                        </div>

                        <h5 class="border-bottom border-gray pb-2 mb-0">Listeners in this room</h5>
                        <div id="listeners">
                            <div class="user-in-room">
                                <!-- To be filled in by JS -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <!-- TABS END -->


        </div>
    </div>
    <!-- End of row -->

    <!-- <button class="map"><img src="{% static 'img/geo_color.png' %}" onclick="openMap()" width="50" height="50"></button> -->


{% endblock %}


{% block script %}
    <!-- Include all necessary js files from static folder (Important this is at the end so that elements load) -->
    {% load static %}
    <script src="{% static "js/room/room_helper.js" %}"></script>
    <script src="{% static "js/room/sync_playlists.js" %}"></script>
    <script src="{% static "js/room/on_room_ready.js" %}"></script>
    <script src="{% static "js/room/search.js" %}"></script>
    <script src="{% static "js/room/modify_playlists.js" %}"></script>
    <script src="{% static "js/room/voting.js" %}"></script>

    <script>lastTimeSyncdUp = window.performance.now(); // Variable shared across sockets.js and youtube_player.js</script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "js/room/sockets.js" %}"></script>
    <script src="{% static "js/room/chat.js" %}"></script>
    <script src="{% static "js/room/youtube_player.js" %}"></script>
    <script src="{% static "js/room/current_users.js" %}"></script>

    <script src="{% static "js/room/djs.js" %}"></script>

    <!-- Leftover in-line JS script block for UI related things -->
    <script>
        function toggleNav() {
            console.log("toggle");
            $("#wrapper").toggleClass("toggled");
        };
    </script>

{% endblock %}
