{% extends 'hot_pot/base.html' %}

{% block content %}
    <input type="hidden" id="room_id" value="{{ room_id }}"/>
    <input type="hidden" id="room_name" value="{{ room_name }}"/>
    <input type="hidden" id="is_host" value="{{ is_host }}"/>
    <input type="hidden" id="username" value="{{ username }}"/>

    <div class="row">
        <div class="col video_col">
            <!----------------------------------------- YOUTUBE PLAYER START ------------------------------------------>
            <h1 id="now-playing"></h1>
            <div id="player"></div>
            <br>

            <!-- Add a 'sync' now button -->
            {% if not is_host %}
                <button type="button" class="btn btn-secondary text-light" onclick="syncToHost()">Sync To Host</button>
            {% else %}
                <button type="button" class="btn btn-secondary text-light" onclick="nextVideo()">Next Video</button>
            {% endif %}
            <!----------------------------------------- YOUTUBE PLAYER END -------------------------------------------->

            <!----------------------------------------- SONG QUEUE START ---------------------------------------------->
            <div class="mb-3 p-3 bg-light text-dark  rounded box-shadow dj_list">
                <h5 class="border-bottom border-dark pb-2 mb-0">Song Queue</h5>

                <div id="dj_list">
                    {% for song in song_queue %}
                        <!-- One track in the playlist -->
                        <div class="media pt-3" id="song_queue_{{ song.song_id }}">
                            <!-- The thumbnail of this video -->
                            <!-- Maybe also use API to get a thumbnail -->
                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"
                                 width="100">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!----------------------------------------- SONG QUEUE END ------------------------------------------------>
        </div>

        <div class="col">
            <!----------------------------------------- SONG POOL START ----------------------------------------------->
            <div class="mb-3 p-3 bg-dark text-light rounded box-shadow poll_list">
                <h5 class="border-bottom border-white pb-2 mb-0">Song Pool</h5>

                <div id="poll_list">
{#                    {% for song in song_pool %}#}
{#                        <div class="media pt-3" id="poll_song_div">#}
{#                            <img src="https://img.youtube.com/vi/{{ song.song_id }}/0.jpg" alt="" class="mr-2 rounded"#}
{#                                 width="100">#}
{#                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">#}
{#                                <div class="d-flex justify-content-between align-items-center w-100">#}
{#                                    <strong class="text-gray-dark">{{ song.song_name }}</strong>#}
{#                                </div>#}
{#                                {% if is_host %}#}
{#                                    <button type="button" id="add-song-to-queue-btn">Add to Queue</button>#}
{#                                {% endif %}#}
{#                                <input type="hidden" id="song_id" value="{{ song.song_id }}"/>#}
{#                                <input type="hidden" id="song_name" value="{{ song.song_name }}"/>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
                </div>
            </div>

            <!----------------------------------------- SONG POOL END ------------------------------------------------->

            <!----------------------------------------- PEOPLE LIST START --------------------------------------------->
            <div class="my-3 p-3 bg-light text-dark rounded box-shadow" id="people">
                <h6 class="border-bottom border-gray pb-2 mb-0">People in this room</h6>

                <!-- One user -->
                {% for u in users %}
                    <div class="media text-muted pt-3" id="user_1">
                        <!-- The profile img -->
                        <!--  <img src="SOME URL" alt="" class="mr-2 rounded" width="25"> -->
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">{{ u.username }}</strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!----------------------------------------- PEOPLE LIST END ----------------------------------------------->

        </div>
        <div class="col">
            <!----------------------------------------- VIDEO SEARCH/INPUT START -------------------------------------->

            <!-- Direct URL/VideoId Input to song queue/pool -->
            <div class=" p-3 bg-light text-dark rounded box-shadow" id="direct-input-panel">
                {% if is_host %}
                    <!--Only Hosts can add to song queue-->
                    Video URL/ID:
                    <input id="add-to-song-queue-input" type="text" size="15"/>
                    <button onclick="addToSongQueue()">Add to Queue</button><br>
                {% endif %}
                <!-- Both Hosts and Listeners can add to song pool -->
                Video URL/ID:
                <input id="add-to-song-pool-input" type="text" size="15"/>
                <button onclick="addToSongPool()">Add to Pool</button>
                <br>


                <!-- To be filled by JS on success -->
                <span id="direct-input-success"></span>
            </div>
            <hr>

            <!-- This is the search panel -->
            <div class=" p-3 bg-light text-dark rounded box-shadow search" id="panel">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" id="search-query" placeholder="Search for...">
                    <button id="search-button" class="btn-search" type="button">Search</button>
                    <input type="hidden" id="add-comment-url" data-url="{% url 'search-song' %}"/>
                </div>
                <!-- A list of results -->
                <div id="search-results">

                    <!-- One track -->
                    <div class="media pt-3" id="song_0">

                        <!-- The thumbnail of this video -->
                        <!-- Maybe also use API to get a thumbnail -->
                        <img src="https://img.youtube.com/vi/{{ video_id }}/1.jpg" alt="" class="mr-2 rounded"
                             width="15">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-secondary rounded-right">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">{{ name_of_video }}</strong>
                                <span class="d-block">{{ author }}</span>
                                <span class="d-block"> {{ timespan }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!----------------------------------------- VIDEO SEARCH/INPUT END ---------------------------------------->

            <!----------------------------------------- CHAT ROOM START ----------------------------------------------->
            <div class="my-3 p-3 bg-light text-dark rounded box-shadow chat-room">
                Chat room: <br>
                <textarea id="chat-log" cols="24" rows="5"></textarea><br/>
                <input id="chat-message-input" type="text" size="10"/>

                <input id="chat-message-submit" type="button" value="Send"/>
            </div>
            <!----------------------------------------- CHAT ROOM END ------------------------------------------------->
        </div>

    </div>


    <div class="form-popup" id="popupForm">
        <form class="form-container" id="addFriendForm">
            <h1>Add Your Friend to This Room</h1>
            <div id="friendList">
                <input type="checkbox" name="name3" checked="checked">Friend_01
            </div>
            <input class="btn" type="submit" name="addFriend">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
{% endblock %}


{% block script %}
    <!-- Include all necessary js files from static folder (Important this is at the end so that elements load) -->
    {% load static %}
    <script src="{% static "js/room/room_helper.js" %}"></script>
    <script src="{% static "js/room/sync_playlists.js" %}"></script>
    <script src="{% static "js/room/on_room_ready.js" %}"></script>
    <script src="{% static "js/room/search.js" %}"></script>
    <script src="{% static "js/room/modify_playlists.js" %}"></script>

    <script src="{% static "js/room/sockets.js" %}"></script>
    <script src="{% static "js/room/chat.js" %}"></script>
    <script src="{% static "js/room/youtube_player.js" %}"></script>
    <script src="{% static "js/room/voting.js" %}"></script>
    <!-- Leftover in-line JS script block for UI related things -->
    <script>
        /*
            $(document).ready(function () {
                $("#addFriendForm").submit(function () {
                    var names = $('#friendList input:checked').map(function () {
                        return this.name;
                    }).get();

                    alert(names);
                    return false;
                });
            });
            */

        function openForm() {

            document.getElementById("popupForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }

        function toggleNav() {
            console.log("toggle");
            $("#wrapper").toggleClass("toggled");
        };
    </script>

{% endblock %}