canvas{
  position:absolute;
top:-20px;
}

body {
  overflow: hidden;
  background: #EDEDED;
  padding-top: 100px;
  font-family: arial;
  padding-left: 50px;
  padding-right:50px;
}
p{margin:15px 0px;}
.navbar {
  min-height:50px;
  background-color:  #eedd82;
 font-family: 'Megrim', cursive;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-color: #FFA500;
    color:black;
    display: inline-block;
  padding: .3em;
  font-family: 'Megrim', cursive;
/*  color: rgba(255,255,255,.68);*/
  border: .075em solid rgba(255,255,255,.1);
}

.row{
    padding-top: 340px;
}
.intro{
      align-items: center;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=description] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=description]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  border-color: #eedd82;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
  color:white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}