html,

body {
  background: #EDEDED;
  font-family: Arial, serif;

  padding-left: 0px;
  padding-right:0px;
  font-weight: bold;
  font-size: large;
}
p{margin:15px 0px;}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: inherit;
}

.home_container {
  height: 100%;
  width:100%;
  padding-left: 50px;
  padding-left:50px;
  padding-top: 35px;
  border: .075em solid #696969;
}

.btn{
  z-index: 1;
  width:100%;
  color:black;
  display: inline-block;
  padding: .3em;
/*  color: rgba(255,255,255,.68);*/
  border: .075em solid #696969;
}
.notActive{
      filter: grayscale(100%);
}

.row{
  width: 100%;
}
.row-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.row-card > div[class*='col-'] {
  display: flex;
}
.intro{
      align-items: center;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-weight: bold;
  font-size: large;
  border: .075em solid #696969;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .create {
  background-color: black;
  color:white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.checkbox{
    display: none;
}

.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}
#map {
    padding-top: 500px;
    height: 80%;
  }