<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
      {% load static %}
    <link rel="icon" href="{% static 'hot_pot/img/logo.png' %}">
    <title>Email Confirmation Awaiting</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'hot_pot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'hot_pot/css/style.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href = "{% url 'login' %}">Hot Pot Music Share</a>
      </nav>
      <div class="container">

          <div class="card-deck mb-3">
            <div class="card mb-4 my-3 box-shadow">
              <div class="card-header ">
                <h4 class="my-1 font-weight-normal">Reset Password</h4>
              </div>
              <div class="card-body">
                <div class = "error"> {{error}} </div>
                    {% if email %}
                      {{email}}
                    {% endif %}
              </div>
            </div>
          </div>
        </div>

    <!-- Bootstrap JS -->
  <script src="{% static 'hot_pot/js/popper.min.js' %}"></script>
  <script src = "{% static 'hot_pot/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'hot_pot/js/bootstrap.min.js' %}"></script>
  </body>
  
</html>
