
<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Hot Pot Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">


  </head>

  <body>
    <!-- The tab for login and register -->
    <main class="form-signin">
      <img class="center" src="{% static 'img/logo.png' %}" alt="" height="100" >
      <ul class = "nav nav-tabs">
        <li class ="nav-item">
          <a class = "nav-link {{login_active}}" id = "login-tab"  href = "{% url 'login' %}" >Login</a>
        </li>
        <li class ="nav-item">
          <a class = "nav-link {{register_active}}" id = "register-tab"  href = "{% url 'register' %}">Register</a>
        </li>
      </ul>

      <!-- The login form -->
      <div class = "tab-content" id = "TabContent">
          <div class = "tab-pane fade show {{login_active}} " id ="login" role = "tabpanel" aria-labelledby="login-tab">
          
             <div class = 'error' >
                  {{error}}
                  {{login_form.errors}}
                  {{login_form.non_field_errors}}
                </div>

          <form method = "post" action="{% url 'login' %}">{% csrf_token %}
          
                  {% for field in login_form.visible_fields %}
                  <p>
                    {{ field }}
                  </p>

                  {% endfor %} 
                  <p>
                  
                </p>


            <input  class="btn btn-lg btn-primary btn-block" type="submit"  name = 'login' value ="Sign in">
          </form>

          <form method = "POST"> {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-block btn btn-outline-info my-3" name = 'resetPassword'>Forget Password ?</button>
          </form>
          </div>
    
        <!-- register -->

          <div class = "tab-pane fade show {{register_active}}" id = "register" role = "tabpanel" aria-labelledby="register-tab">
            <!-- <form action = "{% url 'register' %}" method = "POST">{% csrf_token %} -->
          <form action = "{% url 'register' %}" method = "POST">{% csrf_token %}
              <div class="form-row">
                <div class = 'error' >
                  {{error}}
                  {{registration_form.errors}}
                  {{ registration_form.non_field_errors }}

                  <div>
                  {{form_error}}
                  </div>
                 </div>

                <div>
                  {% for field in registration_form.visible_fields %}
                  
                    <p class = "font-weight-bold mb-0 ">{{ field.label_tag }}</p>
                    {{ field }}
                    <small>{{ field.help_text}}</small>
                  {% endfor %} 
                </div>

                </div>
                <input type="submit"  class="btn btn-primary" name = 'register' value = "Register">
              </form>
          </div>
        </div>

    </main>

    <!-- Bootstrap JS -->
  <script src="{% static 'hot_pot/js/popper.min.js' %}"></script>
  <script src = "{% static 'hot_pot/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'hot_pot/js/bootstrap.min.js' %}"></script>
   
  </body>
</html>
