<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Post Auth</title>
</head>
<body>
{# Form to create a quick demo room #}
<form action="/create-demo-room">
    <label>
        Room name:
        <input type="text" name="room-name">
        <button type="submit">Submit</button>
    </label>
</form>

{# Show all rooms of this user#}


{# Show currently playing #}
{% if currently_playing %}
    <h2>{{ currently_playing }}</h2>
{% endif %}
{#Show user's playlists#}
<h2>{{ username }}'s playlists: </h2>
<ul>
    {% for playlist in user_playlists %}
        <li>{{ playlist }}</li>
    {% endfor %}
</ul>
</body>
</html>